{
  "comments": false,
  "plugins": [
    "check-constants",
    "transform-arrow-functions",
    "transform-block-scoping",
    "transform-classes",
    "transform-constants",
    ["transform-destructuring", { "loose": true }],
    "transform-parameters",
    "transform-shorthand-properties",
    ["transform-spread", { "loose": true }],
    "transform-member-expression-literals",
    "transform-property-literals",
    ["transform-object-rest-spread", { "loose": true }]
  ],
  "env": {
    "test": {
      "plugins": [
        "check-constants",
        "transform-arrow-functions",
        "transform-block-scoping",
        "transform-classes",
        "transform-constants",
        ["transform-destructuring", { "loose": true }],
        "transform-modules-commonjs",
        "transform-parameters",
        "transform-shorthand-properties",
        ["transform-spread", { "loose": true }],
        "transform-member-expression-literals",
        "transform-property-literals",
        ["transform-object-rest-spread", { "loose": true }]
      ]
    }
  }
}
